/* Base Styles */
html {
	background: red; /* For Browsers Without Gradient Support */
	background: -webkit-linear-gradient(white,#cedbe5); /* Safari */
	background: -o-linear-gradient(white,#cedbe5); /* Opera */
	background: -moz-linear-gradient(white,#cedbe5); /* Firefox */
	background: linear-gradient(white,#cedbe5); /* Standard Syntax */
}

body {
	background: #fff;
}

/* Banner Styles */

body > header > div#banner > h1 {
	font-size: 5em;
}

/* Horizontal Navigation Styles */

body > header > nav li {
	background-color: #a00000;
	line-height: 1.9em;
}

body > header > nav li:hover{
	background-color: #dddddd;
}

body > header > nav a:hover {
	color: #aa0000;
}

body > header > nav a {
	color: #ffffff;
}

/* Footer Styles */

body > footer {
	background: #494343;
}