/* Base Styles */
html {
	background: red; /* For Browsers Without Gradient Support */
	background: -webkit-linear-gradient(white,#b9d3e8); /* Safari */
	background: -o-linear-gradient(white,#b9d3e8); /* Opera */
	background: -moz-linear-gradient(white,#b9d3e8); /* Firefox */
	background: linear-gradient(white,#b9d3e8); /* Standard Syntax */
}

body {
	background: #fff;
}

/* Banner Styles */

body > header > div#banner > h1 {
	font-size: 5em;
}

/* Horizontal Navigation Styles */

body > header > nav li {
	background-color: #a00000;
	line-height: 1.9em;
}

body > header > nav li:hover{
	background-color: #dddddd;
}

body > header > nav a:hover {
	color: #aa0000;
}

body > header > nav a {
	color: #ffffff;
}

/* Body Text Styles */

body > h1 {
	font-size: 1.75em;
}

body > p {
	font-size: 1.05em;
	line-height: 1.25em;
}

/* Footer Styles */

body > footer {
	background: #494343;
	line-height: 2em;
}

/* Mobile Styling */
@media only screen and (max-width: 1080px) {
	body > h1{
		font-size: 2.25em;
	}

	body > p {
		font-size: 1.30em;
	}

	body > header > nav li {
		font-size: 2.5em;
		line-height: 1.9em;
	}
}
